rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /players/{player} {
            allow create, read, update
        }
        match /games/{game} {
            allow create
        }
    }
}
